@font-face {
	font-family: Quicksand;
	src: local("Quicksand Regular"), local("Quicksand-Regular"), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QL.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
